<!DOCTYPE html>
<html ng-app>
<head>
  <title>PitStop</title>
  <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
  <!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
  <script src="http://code.angularjs.org/angular-1.0.0rc3.min.js"></script>
  <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
  <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application", controller_name %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
